In [48]:
Analyses des causes des accidents: lieux

SyntaxError: invalid syntax (1036834053.py, line 1)

In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv("Data/lieux-2023.csv", encoding = 'utf-8', delimiter = ";")

/tmp/ipykernel_33975/1160162473.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Data/lieux-2023.csv", encoding = 'utf-8', delimiter = ";")

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70860 entries, 0 to 70859
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Num_Acc  70860 non-null  int64
 1   catr     70860 non-null  int64
 2   voie     58113 non-null  object
 3   v1       70860 non-null  int64
 4   v2       5884 non-null   object
 5   circ     70860 non-null  int64
 6   nbv      70860 non-null  object
 7   vosp     70860 non-null  int64
 8   prof     70860 non-null  int64
 9   pr       70860 non-null  object
 10  pr1      70860 non-null  object
 11  plan     70860 non-null  int64
 12  lartpc   31 non-null     object
 13  larrout  70860 non-null  object
 14  surf     70860 non-null  int64
 15  infra    70860 non-null  int64
 16  situ     70860 non-null  int64
 17  vma      70860 non-null  int64
dtypes: int64(11), object(7)
memory usage: 9.7+ MB

In [52]:
df.isnull().sum(axis =0)

Num_Acc        0
catr           0
voie       12747
v1             0
v2         64976
circ           0
nbv            0
vosp           0
prof           0
pr             0
pr1            0
plan           0
lartpc     70829
larrout        0
surf           0
infra          0
situ           0
vma            0
dtype: int64

In [53]:
df.describe()

,Num_Acc,catr,v1,circ,vosp,prof,plan,surf,infra,situ,vma
count,7.086000e+04,70860.000000,70860.000000,70860.000000,70860.000000,70860.000000,70860.00000,70860.000000,70860.000000,70860.000000,70860.000000
mean,2.023000e+11,3.397403,-0.228860,1.712673,0.183164,1.206336,1.26733,1.254036,0.811177,1.611727,53.306393
std,1.581802e+04,1.113553,0.431536,0.942601,0.744139,0.534770,0.65518,0.756575,2.162585,1.627796,26.001154
min,2.023000e+11,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000,-1.000000,-1.000000,-1.000000
25%,2.023000e+11,3.000000,0.000000,1.000000,0.000000,1.000000,1.00000,1.000000,0.000000,1.000000,30.000000
50%,2.023000e+11,3.000000,0.000000,2.000000,0.000000,1.000000,1.00000,1.000000,0.000000,1.000000,50.000000
75%,2.023000e+11,4.000000,0.000000,2.000000,0.000000,1.000000,1.00000,1.000000,0.000000,1.000000,70.000000
max,2.023001e+11,9.000000,3.000000,4.000000,3.000000,4.000000,4.00000,9.000000,9.000000,8.000000,130.000000

In [54]:
df['catr'].value_counts(normalize =True)

catr
4    0.456732
3    0.377251
1    0.073130
2    0.056661
7    0.026136
6    0.005828
9    0.003260
5    0.001002
Name: proportion, dtype: float64

In [55]:
df['circ'].value_counts(normalize =True)

circ
 2    0.613647
 1    0.198095
 3    0.111459
-1    0.070858
 4    0.005941
Name: proportion, dtype: float64

In [56]:
print(len(df['nbv'].unique()))

15

In [57]:
df['nbv'].value_counts(normalize =True)

nbv
2               0.600903
1               0.118445
4               0.085972
3               0.072043
 -1             0.058609
0               0.029354
6               0.016892
5               0.010246
8               0.004121
7               0.001327
#VALEURMULTI    0.000762
10              0.000677
9               0.000325
12              0.000226
11              0.000099
Name: proportion, dtype: float64

In [58]:
df['vosp'].value_counts(normalize =True)

vosp
 0    0.815072
-1    0.055800
 1    0.055715
 2    0.036988
 3    0.036424
Name: proportion, dtype: float64

In [59]:
df['prof'].value_counts(normalize =True)

prof
 1    0.824287
 2    0.145795
 3    0.014324
 4    0.012616
-1    0.002978
Name: proportion, dtype: float64

In [60]:
df['pr'].value_counts(normalize =True)

pr
 -1      0.420491
0        0.202272
1        0.041575
2        0.020519
3        0.017866
           ...
443      0.000014
510      0.000014
390      0.000014
1 630    0.000014
368      0.000014
Name: proportion, Length: 446, dtype: float64

In [61]:
df['pr1'].value_counts(normalize =True)

pr1
 -1      0.423144
0        0.208524
1        0.031471
500      0.026447
200      0.014776
           ...
1 023    0.000014
1 139    0.000014
752      0.000014
1 236    0.000014
562      0.000014
Name: proportion, Length: 1363, dtype: float64

In [62]:
df['plan'].value_counts(normalize =True)

plan
 1    0.824640
 2    0.084970
 3    0.077237
 4    0.010838
-1    0.002314
Name: proportion, dtype: float64

In [63]:
df['larrout'].value_counts(normalize =True)

larrout
 -1     0.742083
7       0.062221
5,5     0.045809
4       0.030003
5       0.028422
          ...
47      0.000014
12,7    0.000014
2,1     0.000014
6,65    0.000014
2,85    0.000014
Name: proportion, Length: 107, dtype: float64

In [64]:
df['surf'].value_counts(normalize =True)

surf
 1    0.789867
 2    0.196585
 9    0.004177
-1    0.002935
 7    0.001722
 3    0.001609
 8    0.001185
 5    0.000917
 6    0.000692
 4    0.000310
Name: proportion, dtype: float64

In [65]:
df['infra'].value_counts(normalize =True)

infra
 0    0.833841
 5    0.066836
 9    0.032134
 2    0.014832
-1    0.013026
 6    0.010020
 3    0.009780
 1    0.008877
 8    0.007084
 4    0.002949
 7    0.000621
Name: proportion, dtype: float64

In [66]:
df['situ'].value_counts(normalize =True)

situ
 1    0.836283
 3    0.058651
 8    0.037863
 5    0.027293
 4    0.020773
 6    0.011784
 2    0.004558
-1    0.002794
Name: proportion, dtype: float64

In [67]:
df['vma'].value_counts(normalize =True)

vma
 50     0.453387
 30     0.184505
 80     0.117570
 90     0.068233
-1      0.064606
 70     0.060076
 110    0.028662
 130    0.015368
 20     0.003373
 60     0.001708
 25     0.000974
 40     0.000917
 45     0.000212
 100    0.000169
 10     0.000085
 15     0.000056
 75     0.000028
 35     0.000028
 31     0.000014
 65     0.000014
 23     0.000014
Name: proportion, dtype: float64

In [ ]:
Commentaires Fichier lieux<br/>
70860 entrées, 17 colonnes, dont 11 types entiers et 7 types objets<br/>
3 colonnes contiennent des valeurs nulles, la colonnes VOIE indique le numéro de la route, la colonne V2 indique la lettre indice alphanumérique de la voie, et la colonne lartpc(largeur du terre plein central)n'est pas renseignée. on pourra supprimer ces 3 colonnes<br/>
catr : catégorie de route: les accidents ont lieux sur les voies communales (45% ) et les routes départementales (38%)
On regroupe en 3 catégories, route departementale, voie communale et autres <br/>

Voie :la colonnes VOIE indique le numéro de la route, trop de valeurs nulles  A SUPPRIMER<br/>

V1 : indice numerique de la route (bis, ter..., A SUPPRIMER<br/>

V2 : supprimer trop de velaurs nulles A SUPPRIMER<br/>

circ : régime de circulation : 61 % des accidents ont lieux sur des routes bidrectionnelles, 20% sur des routes  à sens unique (7% de valeurs non renseignées)
On regroupe en 3 catégories, route didirectionnelle, route  à sens unique et autres <br/>

nbv : nombre total de voies de circulation: 60% 2 voies de circulation (5% non renseigné) A SUPPRIMER <br/>

vosp : signale l'existence d'une voie réservée, indépendemment du fait que l'accident ait lieu ou non sur cette voie (80% sans objet) A SUPPRIMER<br/>

prof : Profil en long décrit la déclivité de la route : 82 % profil plat( -1 % non renseigner)
on regroupe en 2 catégories, plat et autres  A VALIDER <br/>

pr : Numero de PR de rattachement (numero de la borne amont): pas d'intérêt sur les causes et non renseigné (40%): A SUPPRIMER<br/>

pr1 : distance en m de la borne de rattachement:pas d'intérêt sur les causes et non renseigné (40%): A SUPPRIMER<br/>

plan:82% en partie rectiligne( -1 % non renseigner) 
on regroupe en 2 catégories, droit et virage et autres  A VALIDER<br/>

lartpc: non renseigner: A SUPPRIMER<br/>

larrout : 75 % des données non renseignées A SUPPRIMER<br/>

surf :  etat de surface: 80 % des cas  dus  à une surface normale ( -1 % non renseigner)<br/>
on regroupe en 2 catégories, normale et autres  A VALIDER<br/>

infra:  Aménagement-Infrastructure : 80% des cas pas d'ammenagement( 1,3 % non renseigner)
on regroupe en 2 catégories, aucun et autres  A VALIDER<br/><br/>

situ :  situation de l'accident: 80% sur chaussée ( -1 % non renseigner) A SUPPRIMER <br/>

vma: vitesse maximale autorisée sur le lieu au moment de l'accident: dans 45% des cas  50 km/h et ( -1 % non renseigner)<br/> A SUPPRIMER

In [68]:
df['route'] = df['catr']

In [ ]:
for i,row in df.iterrows():
    if row ["catr"] == 4:
        df.at[i,"route"] = "communale"
    elif row ["catr"] == 3:
        df.at[i,"route"] = "departementale"
    else:
        df.at[i,"route"] = "autre"
        
df['route'].value_counts(normalize =True)

route
communales        0.456732
departementale    0.377251
autre             0.166017
Name: proportion, dtype: float64

In [70]:
df['circulation'] = df['circ']

In [73]:
for i,row in df.iterrows():
    if row ["circ"] == 2:
        df.at[i,"circulation"] = "bidirectionnelle"
    elif row ["circ"] == 1:
        df.at[i,"circulation"] = "sens unique"
    else:
        df.at[i,"circulation"] = "autre"
        
df['circulation'].value_counts(normalize =True)

/tmp/ipykernel_33975/3662090601.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'sens unique' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,"circulation"] = "sens unique"

circulation
bidirectionnelle    0.613647
sens unique         0.198095
autre               0.188259
Name: proportion, dtype: float64

In [74]:
df['profil'] = df['prof']

In [75]:
for i,row in df.iterrows():
    if row ["prof"] == 1:
        df.at[i,'profil'] = "plat"
    else:
        df.at[i,'profil'] = "autre"
        
df['profil'].value_counts(normalize =True)

/tmp/ipykernel_33975/2705739821.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'plat' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'profil'] = "plat"

profil
plat     0.824287
autre    0.175713
Name: proportion, dtype: float64

In [76]:
df['courbe'] = df['plan']

In [78]:
for i,row in df.iterrows():
    if row ['plan'] == 1:
        df.at[i,'courbe'] = "rectiligne"
    else:
        df.at[i,'courbe'] = "autre"
        
df['courbe'].value_counts(normalize =True)

/tmp/ipykernel_33975/713385471.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'rectiligne' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'courbe'] = "rectiligne"

courbe
rectiligne    0.82464
autre         0.17536
Name: proportion, dtype: float64

In [79]:
df['surface'] = df['surf']

In [80]:
for i,row in df.iterrows():
    if row ['surf'] == 1:
        df.at[i,'surface'] = "normale"
    else:
        df.at[i,'surface'] = "humide"
        
df['surface'].value_counts(normalize =True)

/tmp/ipykernel_33975/4236809315.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'humide' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'surface'] = "humide"

surface
normale    0.789867
humide     0.210133
Name: proportion, dtype: float64

In [ ]:
df['amenagement'] = df['infra']

In [81]:
for i,row in df.iterrows():
    if row ['infra'] == 1:
        df.at[i,'amenagement'] = "aucun"
    else:
        df.at[i,'amenagement'] = "présence"
        
df['amenagement'].value_counts(normalize =True)

amenagement
présence    0.991123
aucun       0.008877
Name: proportion, dtype: float64